/* Page Wide */
personWebiteBody {
	font-size: 22px;
	line-height: 1.5;
	color: #ffffff;
}

/* Nav Bar  */
.shaqNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.shaqNav li {
  float: left;
}

.shaqNav li a {
  display: block;
  color: lightblue;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

.shaqNav li a:hover:not(.active) {
  background-color: rgb(3, 1, 35);
}

.about {
  list-style-type: none;
  text-align: center;
}

/* Headers */
.shaqHeader {
  text-align: center;
  color: lightblue;
}

/* Images */
img { 
  width: 100%;
  max-height: 600px;
}

.profilePictureDiv {
  margin-left: 35%;
}

.profilePicture  {
  width: 500px;
  max-height: 600px;
}

/* Paragraphs */
body div p {
  font-size: 26px;
  text-align: center;
}

.homePageText {
  text-align: center;
}